body {
  text-align: center;
  font-family: sans-serif;
  background-color: whitesmoke;
}

.pricing-container {
  display: flex;
  flex-wrap: wrap;
  border: 2px solid gray;
  background-color: rgba(150, 100, 60, 0.1);
}
.pricing-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 5 5 200px;
  border: 2px solid black;
  margin: 0 20px 20px;
  background-color: rgb(240, 240, 240);
  
}
.basic-plan {
  order: 0;
}
.pro-plan {
  order: 1;

}
.premium-plan {
  order: 2;
}
li {
  list-style: none;
  text-align: left;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 10px;
  margin-left: -30px;
  font-size: 0.95rem;
}
span {
  display: inline-block; 
  margin-right: 20px;
  margin-left: 5px;
  transform: translateX(-50%);
}
hr {
  border: 1px solid grey;
  width: 70%;
  margin: 0 auto;
  padding: 0 auto;
}
a {
  margin: 5px 20px;    
  padding: 10px;
  background-color: #4CAF50;  
  color: white;                
  text-decoration: none;              
  font-weight: bold;
  text-align: center;
  transition: background-color 0.3s ease; 
  border-radius: 10px;
}

a:hover {
  background-color: green;
}
.pricing-card:hover {
  transform: scale(1.05); 
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
   transition: transform 0.3s ease;
} 

.checked {
  color: green;
}
.crossed {
  color: red;
}